# Common
PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1

# Database
POSTGRES_HOST=reservio.db
POSTGRES_DB=reservio
POSTGRES_USER=reservio_user
POSTGRES_PASSWORD=dC83Ipn5Fd9eJ1vN
DB_INTERNAL_PORT=5432
DB_EXTERNAL_PORT=5432

# Rabbitmq
RABBITMQ_ENABLED=true
RABBITMQ_VERSION=3.13-management-alpine
RABBITMQ_HOST=reservio.rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_DSN=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}