# Common
PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1

# Database
POSTGRES_HOST=reservio.db
POSTGRES_DB=reservio
POSTGRES_USER=reservio_user
POSTGRES_PASSWORD=dC83Ipn5Fd9eJ1vN
DB_INTERNAL_PORT=5432
DB_EXTERNAL_PORT=5432